* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
img {
	width: 90%;
	height: 90%;
}
body {
	background-color: black;
	background-image: url("back.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: 100vw 100vh;
}
article {
	display: flex;
}
header {
	width: 100vw;
	position: fixed;
	background-color: black;
	text-align: center;
	height: 10vh;
}
h1 {
	color: white;
	margin-top: 4px;
}
ul {
	position: fixed;
	display: flex;
	width: 100vw;
	list-style: none;
	text-align: center;
}
li {
	width: calc(100vw / 10);
	color: white;
	margin-top: 6vh;
}
.ctop {
	width: calc(100vw / 2);
}
.home {
	width: calc(100vw / 2);
}
.cul {
	margin-top: 90vh;
}
section {
	width: calc(100vw / 2);
	height: 80vh;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 6px solid white;
	border-radius: 6px;
	margin: 20px;
	border-style: double;
}
p {
	font-size: 20px;
	line-height: 1.6;
	word-break: keep-all;
	text-align: center;
	color: white;
	padding: 20px;
}
h2 {
	color: white;
	margin: 20px;
	text-decoration: underline dotted 3px;
	text-underline-position: under;
}
a {
	color: white;
	text-decoration: none;
}
a:hover {
	color: black;
	background-color: whitesmoke;
	font-size: 20px;
}

.a1 {
	background-color: slategray;
	margin-top: 10vh;
}

.a3 {
	display: flex;
	flex-direction: column;
	background-color: dimgray;
	margin-top: 10vh;
	justify-content: start;
	align-items: center;
}
.b1 {
	background-color: slategray;
}

.b3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}
.c1 {
	background-color: slategray;
}

.c3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}
.d1 {
	background-color: slategray;
}

.d3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}
.e1 {
	background-color: slategray;
}

.e3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}

.h1 {
	background-color: slategray;
}

.h3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}
.i1 {
	background-color: slategray;
}

.i3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}
.j1 {
	background-color: slategray;
}

.j3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}
.k1 {
	background-color: slategray;
}

.k3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}
.l1 {
	background-color: slategray;
}

.l3 {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	background-color: dimgray;
}


@media screen and (max-width: 600px) {
	p {
		font-size: 14px;
	}
	article {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	section {
		width: calc(100vw / 2);
		height: 50vh;
		display: flex;
		flex-direction: column;
	}
	.ctop {
		text-align: right;
		padding-right: 30px;
	}
	.home {
		text-align: left;
		padding-left: 20px;
	}
	.a3 {
		margin-top: 0px;
	}
	.b3 {
		margin-top: 0px;
	}
	.c3 {
		margin-top: 0px;
	}
	.d3 {
		margin-top: 0px;
	}
	.e3 {
		margin-top: 0px;
	}
	.h3 {
		margin-top: 0px;
	}
	.i3 {
		margin-top: 0px;
	}
	.j3 {
		margin-top: 0px;
	}
	.k3 {
		margin-top: 0px;
	}
	.l3 {
		margin-top: 0px;
	}
}
